*{
  margin: 0;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
header{
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
h2{
  align-items: center;
  background-color: rgb(232, 240, 6);
  
  
  
}